
<h1>Betakit</h1>

<h2>Users</h2>
<% @users.each_with_index do |user,index| %>
  <div class="row <%= index % 2 == 0 ? "altRow" : ''%>">
    <span class="email"><%= user.email %></span>
    <% if user.state == User::STATES[:requested] %>
      <span inviteSection="<%= user.email %>">
        <span class="inviteBtn" email="<%= user.email %>">Invite</span>
      </span>
    <% else %>
      Invite Sent
    <% end %>
  </div>
<% end %>

