
.betakitShareTitle
{
  font-size: 200%;
  line-height: 150%;
}

.betakitShareSection
{
  margin-top:20px;
  font-size:150%;
  margin-bottom: 5px;
}

#betakitButton
{
  -webkit-appearance: button;
  font-size:140%;
  line-height:140%;
}

#betakitEmail
{
  font-size:140%;
  min-width:300px;
}

.betakitShareLink
{
  display: block;
  font-size: 120%;
}
