
.row
{
  .email
  {
    width:300px;
    overflow:hidden;
    display:inline-block;
  }

  padding:4px;
}

.altRow
{
  background-color:#DDD;
}

.inviteBtn
{
  text-decoration:underline;
  cursor:pointer;
}

#importSection
{
  display:none;
}

#importSection textarea
{
  height:75px;
  width:500px;
}

