<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Betakit</h1> 
    <p>
      Your invite was approved, time to have some fun.
      <br />
      Your Invite Code: <%= @inviteCode %>
      <br/>
      Note, your invite will only work with the email address <%= @user.email %>
    </p>
    <p>
      To log in to the site, just go to betakit.xxx
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
